/*** GENERICS ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}

img {
    width: 100%;
}


/*** UTILITIES ***/


/*** CONTENT ***/

.container {
    max-width: 1000px;
    height: 80vh;
    margin: 10vh auto;
    display: flex;
}

.left-panel {
    width: 35%;
    min-width: 200px;
    height: 100%;
}

.logged-user {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
}

.user-info {
    display: flex;
}

.font-comand {
    display: flex;
    align-items: center;
}

.notifications {
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.search {
    height: 30px;
    align-items: center;
    display: flex;
}

.search input {
    height: 20px;
    width: -webkit-fill-available;
}

.contacts-container {
    height: 100%;
    overflow-y: scroll;
}

.contact {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.contact span {
    font-size: 0.5rem;
}

.contact>div {
    display: flex;
    flex-basis: min-content;
}

.active {
    background-color: #eaeaea;
}






.right-panel {
    height: 100%;
    flex-grow: 1;
    background-image: url(../images/mine.jpg);
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.sent {
    background-color: #d5f9b9;
    align-self: end;
}

.received {
    background-color: white;
    align-self: start;
}

.new-message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-message {
    flex-grow: 1;
}

#new-message input {
    width: 100%;
}