<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="js/data.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>BOOLZAP</title>
</head>

<body>
    <div id="app" class="container">

        <!-- left panel -->
        <div class="left-panel">

            <!-- header -->
            <div class="logged-user">
                <div class="user-info">
                    <img src="images/avatar_io.jpg" alt="user-info">
                    <p>Sofia</p>
                </div>
                <div class="font-comand">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- user interraction -->
            <div class="notifications">
                <i class="fa-solid fa-bell-slash"></i>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input v-model="searchInput" type="text" placeholder="Cerca o inizia una nuova chat"
                    @keyUp="searchContact">
            </div>

            <!-- contacts list -->
            <div class="contacts-container">
                <div v-for="(contact, index) in contacts" class="contact" :class="{ active: index === activeIndex }"
                    @click="setActiveContact(index)">
                    <div v-if=" contact.visible ">
                        <img :src="'images/avatar' + contact.avatar + '.jpg'" :alt=" contact.name">
                        <div>
                            <h3> {{ contact.name }} </h3>
                            <span>Ultimo messaggio inviato</span>
                        </div>
                        <div>
                            <span> {{ getTimeMessage(contact.messages[getArrayLength(contact.messages)].date) }} </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- right panel -->
        <div class="right-panel">

            <!-- header -->
            <div class="logged-user">
                <div class="user-info">
                    <img :src="'images/avatar' + contacts[activeIndex].avatar + '.jpg' "
                        alt="contacts[activeIndex].name">
                    <p> {{ contacts[activeIndex].name }} </p>
                </div>
                <div class="font-comand">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- chat -->
            <div class="chat-container">
                <div v-for="item in contacts[activeIndex].messages" class="message" :class=" item.status ">
                    <span> {{ item.message }} </span>
                    <span id="timeMessage"> {{ getTimeMessage(item.date) }} </span>
                </div>
            </div>

            <div class="new-message-container">
                <div>
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <div id="new-message">
                    <input v-model="textMessage" type="text" placeholder="Scrivi un messaggio"
                        @keyUp.enter="sentMessage">
                </div>
                <div>
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>

</body>

</html>